# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Cache files
._*
Thumbs.db
.sass-cache

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Editor files
*sublime*
.lein-repl-history

# Dependencies
node_modules
bower_components

# Vim sessions
.session.vim
